/* Page d'acceuil */


header{
    align-items: center;
    display: flex;
}

.logoPage > img{
    height: 56px;
    padding-right: 61px;
    width: 183px;
}

.accroche {
    color: #008247;
    font-size: xx-large;
    margin-left: 4em;
    margin-top: 5px;
}


.containerBandeau > img {
    height: 260px;
    width: 100%;
}

nav {
    background: rgba(16, 71, 40, 0.13);
    display: flex;
    width: 86%;
    align-items: center;
    margin-left: 4em;    
}

ul{
    list-style: none;
    padding-left: 0px;
}

/* .containertitle {
    background: rgba(16, 71, 40, 0.31);
    border: 1px solid #000000;
    border-radius: 10px;
    height: 38px;
    width: 117px;
} */

a{
    text-decoration: none;
}

li{
    display: inline;
    font-size: x-large;
    margin: 0 10px 0 5em;
}

.acceuil{
    margin-left: 2em;
}

h2{
    color: green;
}

.containerConcept, .patie1, .patie2, .patie3 ,.patie4 {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.concept , .patie1>p, .patie2>p, .patie3>p, .patie4>p {
    width: 32em;
    font-size: large;
}


.flyer{
    display: flex;
    justify-content: center;
}


.containerFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}
.partener{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.border{
    align-items: center;
    border: solid 2px gold;
    border-radius: 25% 10%;
    display: flex;
    flex-direction: column;
}

.copyRight{
    
    border: solid 2px gold;
    border-radius: 50% 20% / 10% 40%;
    margin-top: 3em;
}

@media (max-width: 1024px ) {
    li {
        display: inline;
        font-size: larger;
        margin: 0 1px 0 5em;
    }
  
    
}
