/* Page d'acceuil */
@font-face {
    font-family: 'EdwardianScriptITCFontFamily';
    src: url('fonts/Edwardian_Script_ITC_Font_Family/Edwardian\ Script\ ITC\ 400.ttf')  format('truetype');
}

header{
    align-items: center;
    display: flex;
}

.logoPage > img{
    height: 88px;
    width: 262px;
    position: relative;
    left: 60em;
    top: 9em;
}

.accroche {
    color: #0a6b36;
    font-family: 'EdwardianScriptITCFontFamily', sans-serif;
    font-size: 7em;
    margin-left: 7px;
    margin-top: -90px;
}

.accroche2 {
    color: #0a6b36;
    font-family: 'EdwardianScriptITCFontFamily', sans-serif;
    font-size: 6em;
    margin-bottom: 0;
    margin-left: 7px;
    margin-top: -90px;
}

.containerBandeau > img {
    height: 260px;
    width: 100%;
}

nav {
    background: black;
    display: flex;
    align-items: center;
    height: 4em;   
}

a{
    color: azure;
}

ul{
    list-style: none;
    padding-left: 0px;
}


.dpContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    left: 24.5em;
}

li{
    color: white;
  }
  .dpContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dpContent a:hover {background-color: #ddd;}

.dpBtn:hover .dpContent {display: block;}
  
.dpBtn:hover a {color: #0a6b36;}
a{
    text-decoration: none;
}

li{
    display: inline;
    font-size: x-large;
    margin: 0 10px 0 5em;
}

.acceuil{
    margin-left: 2em;
}

h2, .spe{
    color: #0a6b36;
    font-family: 'EdwardianScriptITCFontFamily', sans-serif;
    font-size: 3em;
    
    margin: 0;
}

h3{
    font-size: 1.1em;
}

.containerConcept, .patie1, .patie2, .patie3 ,.patie4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}


.concept , .patie1>p, .patie2>p, .patie3>p, .patie4>p {
    font-size: 1.2em;
    line-height: 1.5;
    width: 32em;
    
}

#spe, .patie1>img, .patie2>img, .patie3>img, .patie4>img {
    margin: 1em 0 1em 0;
    
}


.flyer{
    display: flex;
    justify-content: center;
}


.containerFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}
.partener{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.border{
    align-items: center;
    border: solid 2px gold;
    border-radius: 25% 10%;
    display: flex;
    flex-direction: column;
}

.copyRight{
    
    border: solid 2px gold;
    border-radius: 50% 20% / 10% 40%;
    margin-top: 3em;
}

@media (max-width: 1024px ) {
    li {
        display: inline;
        font-size: larger;
        margin: 0 1px 0 5em;
    }
  
    
}
