/**    Etablissement     **/
@font-face {
    font-family: 'EdwardianScriptITCFontFamily';
    src: url('fonts/Edwardian_Script_ITC_Font_Family/Edwardian\ Script\ ITC\ 400.ttf')  format('truetype');
}
/* topper  */

header{
    align-items: center;
    display: flex;
}

.logoPage > img{
    height: 88px;
    width: 262px;
    position: relative;
    left: 60em;
    top: 9em;
}
.accroche {
    color: #0a6b36;
    font-family: 'EdwardianScriptITCFontFamily', sans-serif;
    font-size: 7em;
    margin-left: 7px;
    margin-top: -90px;
}

.accroche2 {
    color: #0a6b36;
    font-family: 'EdwardianScriptITCFontFamily', sans-serif;
    font-size: 6em;
    margin-bottom: 0;
    margin-left: 7px;
    margin-top: -90px;
}

.containerBandeau > img {
    height: 260px;
    width: 100%;
}

nav {
    background: black;
    display: flex;
    align-items: center;
    height: 4em;   
}

a{
    color: azure;
}

ul{
    list-style: none;
    padding-left: 0px;
}

.dpContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    left: 24.5em;
}

li{
    color: white;
  }
  .dpContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dpContent a:hover {background-color: #ddd;}

.dpBtn:hover .dpContent {display: block;}
  
.dpBtn:hover a {color: #0a6b36;}

a{text-decoration: none;}

li{
    display: inline;
    font-size: x-large;
    margin: 0 10px 0 5em;
}

.acceuil{
    margin-left: 2em;
}
b{
    font-size: 1.0625rem;
}

h2{
    color: #0a6b36;
    font-family: 'EdwardianScriptITCFontFamily', sans-serif;
    font-size: 3em;
    margin-bottom: 0px;
}

.containerRandom > h2 {margin-left: 8em;}

.random{
    padding: 0 13em 0 13em;
    font-size: 1.4em;
    line-height: 1.4;
}

/* Cards */

.containerCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#clubKantaoui, #portKantaoui, #elMenzah{margin-bottom: 5em;}

img{width: 100%;}

.info {
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 + p {font-size: x-large;}

/*  caroussel cards */

.image{display: flex;}

#caroussel{
    overflow-x: hidden; 
    border: 2px solid green;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.arrow-left {
    /* position: absolute; */
    top: 50%;
    left: 0;
  }
  
  .arrow-right {
    top: 50%;
    right: 0;
  }

/* Tableau  */

.containerTable{
    width: 86%;
    display: table-cell;
    padding: 3em 0 0 20em;
}

.tftable {
    font-size:12px;
    color:#333333;
    width:100%;
    border-width: 1px;
    border-color: #729ea5;
    border-collapse: collapse;
}
        
.tftable th {
    font-size:12px;
    background-color:#acc8cc;
    border-width: 1px;padding: 8px;
    border-style: solid;
    border-color: #729ea5;
    text-align:left;
}
.tftable tr {background-color:#d4e3e5;}

.tftable td {
    font-size:12px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #729ea5;
}

.tftable tr:hover {background-color:#ffffff;}

h3{
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

/*  Contact  */

.containerContact {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.mail, .tel, .adresse{
    font-size: 1.3rem;
    line-height: 1.75;
}
.adresse > span{text-decoration: underline red;}
.mail > a{color: black;}

/* Footer */


.containerFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

.containerFooterSpe{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.copyRight{margin-top: 3em;}


@media (max-width: 1024px ) {
    li {
        display: inline;
        font-size: x-large;
        margin: 0 1px 0 5em;
    }
    nav {
        width: 92%;
        margin-left: 3em;
    }
}